<!-- Container -->
<div id="container">
	<div class="shell">
		<!-- Main -->
		<div id="main">
			<div class="cl">
				&nbsp;
			</div>
			<!-- Content -->
			<div id="content">
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Contributors</h2>
						<div class="right">
							<label>search</label>
							<input type="text" class="field small-field" />
							<input type="submit" class="button" value="search" />
						</div>
					</div>
					<!-- End Box Head -->
					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>Email</th>
								<th width="110" class="ac">Content Control</th>
							</tr>
							<% @users.each do |user| %>
							<tr>
								<td><h3><%= user.email  %></h3></td>
								<td><%= link_to 'Edit', edit_user_path(user), :class =>'ico edit' %> <%= link_to 'Destroy', user, :class => 'ico del', :confirm => 'Are you sure?', :method => :delete %></td>
							</tr>
							<% end %>
						</table>
						<!-- Pagging -->
						<div class="pagging">
							<div class="left">
								Showing 1-12 of 44
							</div>
							<div class="right">
								<a href="#">Previous</a>
								<a href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">245</a>
								<span>...</span>
								<a href="#">Next</a>
								<%= link_to 'New Admin', new_user_path %>
							</div>
						</div>
						<!-- End Pagging -->
					</div>
					<!-- Table -->
				</div>
				<!-- End Box -->
			</div>
			<!-- End Content -->
			<div class="cl">
				&nbsp;
			</div>
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->