<!-- Container -->
<div id="container">
	<div class="shell">
		<!-- Main -->
		<div id="main">
			<div class="cl">
				&nbsp;
			</div>
			<!-- Content -->
			<div id="content">
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>Add New User</h2>
					</div>
					<!-- End Box Head -->
					<%= render 'form' %>
				</div>
			</div>
			<!-- End Content -->
			<div class="cl">
				&nbsp;
			</div>
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->
 